
.container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} 

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;

    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12{
      @extend .col;
    }

    &-1{
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    &-2{
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    &-3{
      flex: 0 0 25%;
      max-width: 25%;
    }
    &-4{
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    &-5{
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    &-6{
      flex: 0 0 50%;
      max-width: 50%;
    }
    &-7{
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    &-8{
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    &-9{
      flex: 0 0 75%;
      max-width: 75%;
    }
    &-10{
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    &-11{
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    &-12{
      flex: 0 0 100%;
      max-width: 100%;
    }
}
@media (min-width: 1200px) {
.col-xl {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-xl-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col-xl-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-xl-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-xl-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-xl-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-xl-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-xl-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-xl-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-xl-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-xl-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-xl-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-xl-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-xl-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
}