*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

button:hover{
    cursor: pointer;
}

